.body{
  background-color: rgb(255, 255, 255);

}
.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: rgb(255, 255, 255);
}

.title {
  font-size: 3rem;
  margin-bottom: 30px;
  padding-top: 60px;
  padding-bottom: 40px;
  font-weight: bold;
  color: black;
}

.list {
  display: flex;
  margin: 10px;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:auto;
  align-items: center;
  margin: 10px 18px;
  border: 4px solid rgb(0, 0, 0);
  padding: 2rem;
  border-radius: 5px;
}
.listItem > div{
  margin: 5px 0px;
}
.btn{
background-color: pink;
border-radius: 10%;
border: none;
color: rgb(0, 0, 0);
padding: 10px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.btn {
  background-color: pink;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin-top: 10px;
  border: 2px solid pink;
}
.btn:hover{
  background-color: pink;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin-top: 10px;
  border: 2px solid black;
}

.btn2{
  background-color: pink;
  border-radius: 10%;
  border: none;
  color: rgb(0, 0, 0);
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn2 {
    background-color: pink;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    margin-top: 10px;
    border: 2px solid pink;
}
.btn2:hover{
    background-color: pink;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    margin-top: 10px;
    border: 2px solid pink;
}

